* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.left-sub {
    padding: 30px 20px;
    float: left;
    font-family: Arial;
    
}

.left-sub a {
    color: black;
    text-decoration: none;
    
}

.right-sub {
    padding: 30px 20px;
    float: right;
    font-family: Arial;
    
}

.right-sub a {
    color: black;
    text-decoration: none;
    
}

.center {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    left: 40%;
}

.search-bar {
    display: block;
}

body {
    display: block;
}

.location {
    font-family: Arial;
}

footer {
    display: block;
    
    position: absolute;
    width: 100%;
    top: 84%;
    background-color: lightgray;
}

#location {
    display: block;
    /* clear: left; */
    padding: 15px 20px 15px 20px;
    /* float: left; */
    font-family: Arial;
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray; 
    background-color: lightgray;
}

#bottom {
    background-color: lightgray;
}


.left-sub-bottom {
    padding: 15px 20px;
    float: left;
    font-family: Arial;
    background-color: lightgray;
    
}

.left-sub-bottom a {
    color: black;
    text-decoration: none;
    background-color: lightgray;
}

.right-sub-bottom {
    padding: 15px 20px;
    float: right;
    font-family: Arial;
    background-color: lightgray;
}

.right-sub-bottom a {
    color: black;
    text-decoration: none;
    background-color: lightgray;
}

input[type=text] {
    display: block;
    position: relative;
    left: -120px;
    padding: 0 55%;
    height: 44px;
    border-radius: 22px;
    border-style: outset;
}